<html>
<head>
    <meta http-qeuiv="Content-Type" content="text/html; charset=utf-8">
    <title>Fastapi　CBIR テスト</title>
    <script src="//code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="/static/js/post.js"></script>
</head>
<body>


<div style="width: 500px">
  このフォームに<strong>.nii</strong>ファイルをアップロードしてください。<br>
  <form enctype="multipart/form-data" method="post" id="uploadForm">
    <input type="file" name="userfile" accept=".nii">
  </form>
</div>

<canvas id="canvas" width="0" height="0"></canvas>

<!-- アップロードボタン -->
<button class="btn btn-primary" id="post">投稿</button>
<br>
<h2 id="result"></h2>
</body>
</html>

